{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	<nav class="nav">
		<button class="nav__button">
      <img src="/svg/back.svg" id="back">
		</button>
		<button class="nav__button">
      <img src="/svg/forvard.svg" id="forvard">
		</button>
		<button class="nav__button">
      <img src="/svg/reload.svg" id="reload">
		</button>
		<button class="nav__button">
      <img src="/svg/home.svg" id="home">
		</button>
    <input type="text" class="nav__input" id="input">
		<button class="nav__button">
      <img src="/svg/go.svg" id="go">
		</button>
	</nav>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}